.navbar-brand {
    font-family: 'Cairo', sans-serif;;
  }

  .row{
    font-family: 'Cairo', sans-serif;;
    display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        height: 100vh;
  }
  .btn{
background-color: bisque;
font-family: 'Cairo', sans-serif;;
  }